<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>addPlan</servlet-name>
    <servlet-class>addPlan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getplan</servlet-name>
    <servlet-class>getplan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateplan</servlet-name>
    <servlet-class>updateplan</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploadd</servlet-name>
    <servlet-class>uploadd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>claimReport</servlet-name>
    <servlet-class>claimReport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getUserID</servlet-name>
    <servlet-class>getUserID</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getpwd</servlet-name>
    <servlet-class>getpwd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changepwd</servlet-name>
    <servlet-class>changepwd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>techissue_DB</servlet-name>
    <servlet-class>techissue_DB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>feedback_DB</servlet-name>
    <servlet-class>feedback_DB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploaddoc_DB</servlet-name>
    <servlet-class>uploaddoc_DB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg_DB</servlet-name>
    <url-pattern>/reg_DB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>claimrequest_DB</servlet-name>
    <url-pattern>/claimrequest_DB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ustatus</servlet-name>
    <url-pattern>/ustatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Plan_Reg_DB</servlet-name>
    <url-pattern>/Plan_Reg_DB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>approveClaim</servlet-name>
    <url-pattern>/approveClaim</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClaimApprove</servlet-name>
    <url-pattern>/ClaimApprove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addPlan</servlet-name>
    <url-pattern>/addPlan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getplan</servlet-name>
    <url-pattern>/getplan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateplan</servlet-name>
    <url-pattern>/updateplan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadd</servlet-name>
    <url-pattern>/uploadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>claimReport</servlet-name>
    <url-pattern>/claimReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getUserID</servlet-name>
    <url-pattern>/getUserID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getpwd</servlet-name>
    <url-pattern>/getpwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changepwd</servlet-name>
    <url-pattern>/changepwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>techissue_DB</servlet-name>
    <url-pattern>/techissue_DB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>feedback_DB</servlet-name>
    <url-pattern>/feedback_DB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploaddoc_DB</servlet-name>
    <url-pattern>/uploaddoc_DB</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>alogin_DB</servlet-name>
    <servlet-class>alogin_DB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reg_DB</servlet-name>
    <servlet-class>reg_DB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>claimrequest_DB</servlet-name>
    <servlet-class>claimrequest_DB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ustatus</servlet-name>
    <servlet-class>ustatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Plan_Reg_DB</servlet-name>
    <servlet-class>Plan_Reg_DB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>approveClaim</servlet-name>
    <servlet-class>approveClaim</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClaimApprove</servlet-name>
    <servlet-class>ClaimApprove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alogin_DB</servlet-name>
    <url-pattern>/alogin_DB</url-pattern>
  </servlet-mapping>
</web-app>